   body {
            color: #b1a6a6;
            font-family: Arial, sans-serif;
            background-color: #cecaca;
            margin: 0%;
            padding: 20px;
        }

        
        h1 {
            color: rgb(15, 4, 77);
            font-weight: 900;
        }

        h3 {
            color: #22046d;
            font-weight: 800;
        }

        p {
            color: #1f1647;
        }

        li {
            color: rgb(43, 29, 70);
        }

        header img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-right: 20px;
            border: 3px solid rgb(255, 255, 255);
        }

        