   body {
            font-family: Arial, sans-serif; /* Fonte */
            background-color: #cecaca; /* Cor de fundo */
            margin: 0; /* Remover margens padrão */
            padding: 20px; /* Espaçamento interno */
        } 

        h1 {
            color: rgb(18, 1, 46); /* Cor do título */
            font-weight: 700; /* Peso da fonte */
        }

        h3 {
            color: #11045a; /* Cor do subtítulo */
            font-weight: 700; /* Peso da fonte */
        }

        p {
            color: #1f1647; /* Cor do parágrafo */
            line-height: 1.5; /* Espaçamento entre linhas */
        }

        li {
            color: rgb(41, 29, 66); /* Cor dos itens da lista */
        }

        header img {
            width: 150px; 
            height: 150px; /* Tamanho da imagem */
        }

        